:host {
  height: 100%;
  overflow-y: hidden;
  padding: 32px;
  display: block;

  .buttons-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 50%;

    button {
      width: 250px;
      margin: auto;
    }
  }
}
