<h1>Create asset</h1>

<div class="form-container" [formGroup]="form">
  <div class="form-row name-container">
    <mat-form-field appearance="standard">
      <mat-label>Name: </mat-label>
      <input
        formControlName="name"
        matInput
        type="text"
        aria-label="asset name"
        name="asset-name"
      />
    </mat-form-field>
  </div>

  <div class="form-row flex-space-around">
    <mat-form-field appearance="fill">
      <mat-label>Size</mat-label>
      <mat-select formControlName="size">
        <mat-option *ngFor="let size of OPTIONS.SIZES" [value]="size">
          {{ size }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="standard">
      <mat-label>Year of product: </mat-label>
      <input formControlName="year" matInput type="number" aria-label="" name="" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Choose a date</mat-label>
      <input formControlName="date" matInput [matDatepicker]="datepicker" />
      <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
      <mat-datepicker #datepicker disabled="false">
        <mat-datepicker-actions>
          <button mat-button matDatepickerCancel>Cancel</button>
          <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
        </mat-datepicker-actions>
      </mat-datepicker>
    </mat-form-field>
  </div>

  <div class="form-row serial-number-container">
    <mat-slide-toggle [formControl]="sliderSerialNumberControl" color="primary">
      Serial number
    </mat-slide-toggle>

    <mat-form-field appearance="standard">
      <mat-label>Serial number: </mat-label>
      <input
        formControlName="serialNumber"
        matInput
        aria-label="Serial number input"
        name="input"
      />
    </mat-form-field>
  </div>

  <div class="form-row textarea-container">
    <mat-form-field>
      <mat-label>Description</mat-label>
      <textarea
        formControlName="description"
        matInput
        placeholder="Description for anything you want"
      ></textarea>
    </mat-form-field>
  </div>

  <div class="form-row textarea-container">
    <mat-form-field class="example-full-width">
      <mat-label>Observation</mat-label>
      <textarea
        formControlName="observation"
        matInput
        placeholder="Observations for anything"
      ></textarea>
    </mat-form-field>
  </div>
  <!-- TODO: remove resizable button on textarea -->

  <div class="form-row button-container flex-space-around">
    <button mat-button color="primary" (click)="openParentPopUp()">Select parent asset</button>

    <button mat-button color="primary" (click)="openChildPopUp()">Select child asset</button>
  </div>

  <div class="form-row table-container" *ngIf="parentAssets.length > 0">
    <mat-label [class.red-text]="linkedAssetsError"> Parent assets </mat-label>
    <app-table [dataSource]="parentAssets" [displayedColumns]="displayedColumns"> </app-table>
  </div>

  <div class="form-row table-container" *ngIf="childAssets.length > 0">
    <mat-label [class.red-text]="linkedAssetsError"> Child assets </mat-label>
    <app-table [dataSource]="childAssets" [displayedColumns]="displayedColumns"> </app-table>
  </div>

  <div class="form-row" *ngIf="linkedAssetsError">
    <mat-label class="red-text"> You can't have the same asset as both parent and child </mat-label>
  </div>

  <div class="form-row">
    <mat-form-field appearance="fill">
      <mat-label>Group</mat-label>
      <mat-select formControlName="group">
        <mat-option *ngFor="let types of OPTIONS.GROUP_TYPES" [value]="types.id">
          {{ types.label }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <app-electronic-assets-form
    *ngIf="groupValue === GroupIdTypes.electronic"
  ></app-electronic-assets-form>
  <app-usable-assets-form *ngIf="groupValue === GroupIdTypes.usable"></app-usable-assets-form>
</div>
<button
  mat-raised-button
  (click)="onSubmit()"
  color="primary"
  [disabled]="form.invalid && linkedAssetsError"
>
  Submit
</button>
<button mat-raised-button (click)="onReset()" color="warn">Reset</button>
