:host {
  margin: 32px;
  display: block;

  ::ng-deep {
    mat-card {
      width: 240px !important;
    }
    .card-content {
      display: block;
      height: 140px;
      overflow-y: auto;
    }
  }
}
