<h1 *ngIf="stateOfPage === stateOfPageType.CREATE">Creaza obiect</h1>
<h1 *ngIf="stateOfPage === stateOfPageType.VIEW">Vizualizeaza obiect</h1>
<h1 *ngIf="stateOfPage === stateOfPageType.EDIT">Editeaza obiect</h1>

<button
  *ngIf="stateOfPage === stateOfPageType.VIEW && isAdmin"
  (click)="enableFormEditing()"
  mat-button
>
  Activeaza editarea
</button>
<button *ngIf="stateOfPage === stateOfPageType.EDIT" (click)="disableFormEditing()" mat-button>
  Activeaza vizualizarea
</button>

<div class="form-container" [formGroup]="form">
  <div class="form-row name-container">
    <mat-form-field appearance="standard">
      <mat-label>Name: </mat-label>
      <input
        formControlName="name"
        matInput
        type="text"
        aria-label="asset name"
        name="asset-name"
      />
    </mat-form-field>
  </div>

  <div class="form-row flex-space-around">
    <mat-form-field appearance="fill">
      <mat-label>Marime</mat-label>
      <mat-select formControlName="size">
        <mat-option *ngFor="let size of OPTIONS.SIZES" [value]="size">
          {{ size }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Data de fabricare</mat-label>
      <input formControlName="yearOfProduct" matInput [matDatepicker]="datepicker" />
      <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
      <mat-datepicker #datepicker disabled="false">
        <mat-datepicker-actions>
          <button mat-button matDatepickerCancel>Cancel</button>
          <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
        </mat-datepicker-actions>
      </mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Grup</mat-label>
      <mat-select formControlName="group">
        <mat-option *ngFor="let types of OPTIONS.GROUP_TYPES" [value]="types.id">
          {{ types.label }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="form-row serial-number-container">
    <mat-slide-toggle
      [disabled]="stateOfPage === stateOfPageType.VIEW"
      [formControl]="sliderSerialNumberControl"
      color="primary"
    >
      Numar identificare
    </mat-slide-toggle>

    <mat-form-field appearance="standard">
      <mat-label>Numar identificare: </mat-label>
      <input
        formControlName="serialNumber"
        matInput
        aria-label="Serial number input"
        name="input"
      />
    </mat-form-field>
  </div>

  <div class="form-row textarea-container">
    <mat-form-field>
      <mat-label>Descriere</mat-label>
      <textarea
        formControlName="description"
        matInput
        placeholder="Description for anything you want"
      ></textarea>
    </mat-form-field>
  </div>

  <div class="form-row textarea-container">
    <mat-form-field class="example-full-width">
      <mat-label>Observatii</mat-label>
      <textarea
        formControlName="observation"
        matInput
        placeholder="Observations for anything"
      ></textarea>
    </mat-form-field>
  </div>
  <!-- TODO: remove resizable button on textarea -->

  <div class="form-row button-container flex-space-around">
    <button
      mat-button
      color="primary"
      [disabled]="stateOfPage === stateOfPageType.VIEW"
      (click)="openParentPopUp()"
    >
      Alege obiect parinte
    </button>

    <button
      mat-button
      color="primary"
      [disabled]="stateOfPage === stateOfPageType.VIEW"
      (click)="openChildPopUp()"
    >
      Alege sub-obiecte
    </button>
  </div>

  <div class="form-row table-container" *ngIf="parent.length > 0">
    <mat-label [class.red-text]="linkedAssetsError"> Obiect parinte </mat-label>
    <app-table [dataSource]="parent" [displayedColumns]="displayedColumns"> </app-table>
  </div>

  <div class="form-row table-container" *ngIf="children.length > 0">
    <mat-label [class.red-text]="linkedAssetsError"> Sub obiecte </mat-label>
    <app-table [dataSource]="children" [displayedColumns]="displayedColumns"> </app-table>
  </div>

  <div class="form-row" *ngIf="linkedAssetsError">
    <mat-label class="red-text"> Nu poti avea acelasi obiect ca parinte si copil </mat-label>
  </div>

  <div class="form-row"></div>
  <!--
  <app-electronic-assets-form
    *ngIf="groupValue === GroupIdTypes.electronic"
  ></app-electronic-assets-form>
  <app-usable-assets-form *ngIf="groupValue === GroupIdTypes.usable"></app-usable-assets-form> -->
</div>
<button
  *ngIf="stateOfPage === stateOfPageType.CREATE"
  [disabled]="form.invalid && !linkedAssetsError"
  (click)="onSubmit()"
  mat-raised-button
  color="primary"
>
  Salveaza
</button>

<button
  *ngIf="stateOfPage === stateOfPageType.EDIT"
  [disabled]="form.invalid && !linkedAssetsError"
  (click)="onUpdate()"
  mat-raised-button
  color="primary"
>
  Actualizeaza
</button>

<button
  *ngIf="stateOfPage === stateOfPageType.CREATE"
  (click)="onReset()"
  s
  mat-raised-button
  color="warn"
>
  Reseteaza campurile
</button>
