<mat-drawer-container class="example-container">
  <mat-drawer #drawer mode="side" opened [class.expand]="expandSideMenu">
    <mat-toolbar color="primary">
      <button mat-icon-button aria-label="Menu icon" (click)="toggle()" class="menu-button">
        <mat-icon>menu</mat-icon>
      </button>
      <ng-container *ngFor="let item of menuItems">
        <button
          mat-icon-button
          [attr.aria-label]="item.ariaLabel"
          (click)="onMenuItemClick(item)"
          *ngIf="!(item.forAdminOnly && !isAdmin)"
        >
          <mat-icon class="menu-button-item-icon">{{ item.iconLabel }}</mat-icon>
          <span *ngIf="expandSideMenu" class="button-label">{{ item.buttonLabel }}</span>
        </button>
      </ng-container>

      <div class="profile-container">
        <mat-menu #savedLinks="matMenu">
          <button
            aria-label="Saved links button"
            *ngFor="let link of links"
            mat-menu-item
            (click)="redirectToView(link)"
          >
            {{ link.assetName }}
          </button>
        </mat-menu>
        <button mat-icon-button aria-label="Delogheaza-te" (click)="logOut()">
          <mat-icon>exit_to_app</mat-icon>
        </button>
      </div>
    </mat-toolbar>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>

<!-- TODO: animation on menu item click to change -->
