$drawer-minimal-width: 56px;
$drawer-maximum-width: 150px;

:host {
  mat-toolbar {
    height: 100vh;

    display: flex;
    flex-direction: column;

    .profile-container {
      margin-top: auto;
    }
  }

  mat-drawer-container {
    width: 100vw;
    height: 100vh;
  }

  .mat-drawer-opened {
    width: $drawer-minimal-width;
    mat-toolbar {
      width: $drawer-minimal-width;

      .menu-button {
        margin-bottom: 16px;
      }
    }
  }

  .expand {
    width: $drawer-maximum-width;
    mat-toolbar {
      width: $drawer-maximum-width;
      align-items: flex-start;
      ::ng-deep {
        .menu-button-item-icon {
          margin-right: 20px;
        }
      }
    }
  }

  .action-buttons {
    margin-top: 16px;
  }

  .profile-container {
    margin-top: auto;
    display: flex;
    flex-direction: column;
  }
}
