<h1>Bun venit, {{ username }} cu drepturi de {{ isAdmin ? 'administrator' : 'utilizator' }}</h1>

<h3>Linkuri rapide:</h3>
<div class="fast-links-container">
  <button mat-raised-button color="primary">Vezi obiecte</button>
  <button mat-raised-button color="primary" (click)="createTicket()">Creeaza tichet</button>
  <button mat-raised-button color="primary" (click)="createRequest()">Cere obiect</button>
</div>

<h3>Overview:</h3>
<div class="overview-container">
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>Tichetele mele</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <p>Tichete deschise:</p>
      <p>Ultimul tichet deschis:</p>
      <p>Tichete rezolvate:</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Vezi tichete</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>Obiectele mele</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Numar obiecte:</p>
      <p>Ultimul obiect asignat:</p>
      <p>Obiecte returnate</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Vezi obiecte</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>Cererile mele</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Numar de cereri deschise:</p>
      <p>Cereri acceptate:</p>
      <p>Cereri refuzate:</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Vezi cereri</button>
    </mat-card-actions>
  </mat-card>
</div>
