<h1>Bun venit, {{ username }} cu drepturi de {{ isAdmin ? 'administrator' : 'utilizator' }}</h1>

<h3>Linkuri rapide:</h3>
<div class="fast-links-container">
  <button mat-raised-button color="primary" (click)="goToAssigns()" aria-label="vezi obiecte">
    Vezi obiecte
  </button>
  <button mat-raised-button color="primary" (click)="createTicket()" aria-label="creaza tichet">
    Creeaza tichet
  </button>
  <button mat-raised-button color="primary" (click)="createRequest()" aria-label="cere obiect">
    Cere obiect
  </button>
</div>

<h3>Overview:</h3>
<div class="overview-container">
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>Tichetele mele</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <p>Tichete rezolvate: <strong> 4</strong></p>
      <p>Tichete deschise: <strong> 2</strong></p>
      <p>Numar total: <strong> 6</strong></p>
    </mat-card-content>
    <mat-card-actions>
      <button (click)="goToTickets()" mat-button aria-label="vezi tichete">Vezi tichete</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>Obiectele mele</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        Numar obiecte: <strong> {{ objectsCount }}</strong>
      </p>
      <p>
        Ultimul obiect asignat: <strong> {{ objectName }}</strong>
      </p>
      <p>
        Data asignarii: <strong> {{ assignDate }} </strong>
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="goToAssigns()" aria-label="vezi asignari">Vezi obiecte</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>Cererile mele</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        Cereri deschise: <strong>{{ (assigns$ | async)?.created }}</strong>
      </p>
      <p>
        Cereri acceptate: <strong>{{ (assigns$ | async)?.accepted }}</strong>
      </p>
      <p>
        Cereri finalizate: <strong>{{ (assigns$ | async)?.returned }}</strong>
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="goToAssigns()" aria-label="vezi cereri">Vezi cereri</button>
    </mat-card-actions>
  </mat-card>
</div>
