<span [formGroup]="form">
  <mat-form-field appearance="standard">
    <mat-label>Name: </mat-label>
    <input formControlName="name" matInput type="text" aria-label="asset name" name="asset-name" />
  </mat-form-field>
  <mat-form-field appearance="standard">
    <mat-label>Serial number: </mat-label>
    <input formControlName="serialNumber" matInput aria-label="Serial number input" name="input" />
  </mat-form-field>
  <mat-form-field appearance="standard">
    <mat-label>Group</mat-label>
    <mat-select formControlName="group">
      <mat-option *ngFor="let types of OPTIONS.GROUP_TYPES" [value]="types.id">
        {{ types.label }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-slide-toggle [formControl]="showSelectedControl" color="primary">
    Show only selected
  </mat-slide-toggle>
</span>
<app-table
  [withSelect]="true"
  [withPaginator]="true"
  [dataSource]="!showSelected ? dataSource : selectedItems"
  [displayedColumns]="displayedColumns"
  [selectedItems]="this.data.selectedItems"
  (selectedItem)="onSelectItem($event)"
></app-table>
<div class="actions-container">
  <button mat-button (click)="submit()">Submit ({{ selectedItems.length }})</button>
  <button mat-button (click)="cancel()">Cancel</button>
</div>
