:host {
  display: flex;
  flex-direction: column;
  width: 500px;

  margin: auto;
  margin-top: 64px;

  [red-text] {
    color: #f44336;
  }

  .form-container {
    display: flex;
    flex-direction: column;
  }

  .text-link {
    cursor: pointer;
  }
}
